body{
    background: rgb(15,0,36);
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%; overflow: hidden;
}
/* page1 getting starte button */
.containerheader{
    width: 200px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    text-align: center;
    z-index: 100;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

nav ul li {
    --c: #FFFF5C;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: 0.5s;
    /* margin: 1em; */
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color:#0f0c29;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}
nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
/* page1 getting started button */
/* page1 right corner component */
.rightcontainer{
    width: 150px;
    height: 180px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
}
.rightcontainertext{
    width: 60%;
    position: absolute;
    top: 28%;
    left: 40%;
    padding: 0%;
    margin: 0%;
    z-index: 100;
    font-weight:normal;
    font-size: 20px;
    color: #F5F5F5;
}
.gitbox{
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 8px;
    top: 0%;
    height: 47px;
    z-index: 100;
    cursor: pointer;
}

.penbox{
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 8px;
    top: 30%;
    height: 47px;
    z-index: 100;
    cursor: pointer;
}
.about{
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 8px;
    top: 60%;
    height: 47px;
    z-index: 100;
    cursor: pointer;
}
/* page1 right corner component */

/* about */
.modal1 {
    display: none; /* Hidden by default */
    z-index: 100; /* Sit on top */
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    z-index: 100;
  }
  
  /* Modal Content/Box */
  .modal-content1 {
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 8px;
    margin: auto;
    padding: 0;
    top: 35%;
    left: 30%;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:35%; opacity:1}
  }
  .modal-header1 {
    padding: 2px 16px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }
  
  .modal-body1 {padding: 2px 16px;background: rgba(255, 255, 255, 0.8);}
  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* about */